/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
/* Colors
/* remember to turn off any unused swatches in atoms>global>colors.twig
/* _______________________________________________________________ */
@import url("https://cloud.typography.com/6863274/6747792/css/fonts.css");
@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/35E586_1_0.eot");
  src: url("../fonts/35E586_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_1_0.woff2") format("woff2"), url("../fonts/35E586_1_0.woff") format("woff"), url("../fonts/35E586_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/35E586_3_0.eot");
  src: url("../fonts/35E586_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_3_0.woff2") format("woff2"), url("../fonts/35E586_3_0.woff") format("woff"), url("../fonts/35E586_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/35E586_0_0.eot");
  src: url("../fonts/35E586_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_0_0.woff2") format("woff2"), url("../fonts/35E586_0_0.woff") format("woff"), url("../fonts/35E586_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/35E586_5_0.eot");
  src: url("../fonts/35E586_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_5_0.woff2") format("woff2"), url("../fonts/35E586_5_0.woff") format("woff"), url("../fonts/35E586_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/35E586_4_0.eot");
  src: url("../fonts/35E586_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_4_0.woff2") format("woff2"), url("../fonts/35E586_4_0.woff") format("woff"), url("../fonts/35E586_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNextLTPro';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/35E586_2_0.eot");
  src: url("../fonts/35E586_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/35E586_2_0.woff2") format("woff2"), url("../fonts/35E586_2_0.woff") format("woff"), url("../fonts/35E586_2_0.ttf") format("truetype"); }

body {
  font-family: "AvenirNextLTPro", sans-serif; }

.font-mercury {
  font-family: "Mercury Display A", "Mercury Display B", serif; }

.font-avenirnext {
  font-family: "AvenirNextLTPro", sans-serif; }

#sg-patterns {
  max-width: 100%; }

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer; }

.sg-colors {
  margin-left: 0;
  list-style: none; }
  @supports (grid-template-columns: 1px) {
    .sg-colors {
      display: grid;
      grid-auto-rows: auto;
      /* Base Breakpoint */
      grid-gap: 0.5rem;
      /* End base breakpoint */
      grid-auto-rows: auto;
      grid-auto-rows: auto;
      grid-auto-rows: auto;
      grid-auto-rows: auto; }
      @media screen and (min-width: 35rem) {
        .sg-colors {
          grid-gap: 1rem;
          grid-template-columns: repeat(3, minmax(0, 1fr)); } }
      @media screen and (min-width: 48rem) {
        .sg-colors {
          grid-template-columns: repeat(4, minmax(0, 1fr)); } }
      @media screen and (min-width: 76rem) {
        .sg-colors {
          grid-gap: 2rem;
          grid-template-columns: repeat(6, minmax(0, 1fr)); } } }

.sg-colors__column {
  border: 2px solid #c8c8c7;
  border-radius: 8px;
  padding: calc(0.5rem - 2px);
  overflow: hidden;
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 1rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 76rem) {
    .sg-colors__column {
      font-size: 1rem;
      line-height: 1rem; } }
  .sg-colors__column margin {
    top: 1rem;
    bottom: 1rem; }

.sg-colors pre {
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 1rem;
  /* End base breakpoint */
  margin-bottom: 0.5rem; }
  @media screen and (min-width: 76rem) {
    .sg-colors pre {
      font-size: 0.75rem;
      line-height: 1rem; } }

.sg-swatch {
  display: block;
  height: 5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: calc(0.5rem - 5px); }

.sg-pattern-example {
  overflow: hidden; }

.sg-pattern {
  margin-bottom: 2rem; }

.sg-pattern-head {
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 1.5rem;
  /* End base breakpoint */
  padding: 0.5rem; }
  @media screen and (min-width: 76rem) {
    .sg-pattern-head {
      font-size: 1rem;
      line-height: 1.5rem; } }

.sg-pattern-title padding {
  top: 1rem;
  bottom: 1rem; }

.sg-pattern-title a {
  padding: 0;
  border-bottom-width: 0; }

.sg-pattern-extra {
  display: none; }

.sg-image-grid .sg-image-grid-tile {
  margin-bottom: 2rem; }

@media screen and (min-width: 44rem) {
  .sg-image-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem; }
    .sg-image-grid .sg-image-grid-tile {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 0; } }

body.layout-grid--on::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 72rem;
  min-height: 100vh;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: multiply;
  /* Base Breakpoint */
  width: calc(100% - (2 * 1rem));
  background-image: repeating-linear-gradient(to left, transparent 0, transparent 0.5rem, rgba(200, 200, 255, 0.2) 0.5rem, rgba(200, 200, 255, 0.2) 25%);
  background-size: calc(100% + 0.5rem);
  /* End base breakpoint */ }
  @media screen and (min-width: 35rem) {
    body.layout-grid--on::before {
      width: calc(100% - (2 * 2rem));
      background-image: repeating-linear-gradient(to left, transparent 0, transparent 1rem, rgba(255, 200, 200, 0.2) 1rem, rgba(255, 200, 200, 0.2) 12.5%);
      background-size: calc(100% + 1rem); } }
  @media screen and (min-width: 48rem) {
    body.layout-grid--on::before {
      width: calc(100% - (2 * 2rem));
      background-image: repeating-linear-gradient(to left, transparent 0, transparent 1rem, rgba(128, 255, 200, 0.2) 1rem, rgba(128, 255, 200, 0.2) 8.33333%);
      background-size: calc(100% + 1rem); } }
  @media screen and (min-width: 76rem) {
    body.layout-grid--on::before {
      width: 100%;
      background-image: repeating-linear-gradient(to left, transparent 0, transparent 2rem, rgba(200, 128, 255, 0.2) 2rem, rgba(200, 128, 255, 0.2) 8.33333%);
      background-size: calc(100% + 2rem); } }
  @media screen and (min-width: 80rem) {
    body.layout-grid--on::before {
      width: 100%;
      background-image: repeating-linear-gradient(to left, transparent 0, transparent 2rem, rgba(200, 128, 255, 0.2) 2rem, rgba(200, 128, 255, 0.2) 8.33333%);
      background-size: calc(100% + 2rem); } }

body.layout-grid--on::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: multiply;
  /* Base Breakpoint */
  background: transparent linear-gradient(to top, rgba(128, 128, 200, 0.2) 0, rgba(128, 128, 200, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 35rem) {
    body.layout-grid--on::after {
      background: transparent linear-gradient(to top, rgba(128, 128, 200, 0.2) 0, rgba(128, 128, 200, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }
  @media screen and (min-width: 48rem) {
    body.layout-grid--on::after {
      background: transparent linear-gradient(to top, rgba(128, 128, 200, 0.2) 0, rgba(128, 128, 200, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }
  @media screen and (min-width: 76rem) {
    body.layout-grid--on::after {
      background: transparent linear-gradient(to top, rgba(128, 128, 200, 0.2) 0, rgba(128, 128, 200, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }
  @media screen and (min-width: 80rem) {
    body.layout-grid--on::after {
      background: transparent linear-gradient(to top, rgba(128, 128, 200, 0.2) 0, rgba(128, 128, 200, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }

.toggleGroup {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999; }
  .toggleGroup button {
    display: inline-block;
    background-color: black;
    border-color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px;
    line-height: 1;
    border-radius: 8px; }

.twig-include {
  position: relative; }

.twig-include__label {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0rem;
  color: red;
  z-index: 998; }

body.twig-includes--on .twig-include {
  border: 2px solid red; }

body.twig-includes--on .twig-include__label {
  display: block; }

/*# sourceMappingURL=pattern-scaffolding.css.map */
