.node__content {
  overflow: hidden;
}

.editorial {
  overflow-y: hidden;
}

html.paragraphs-previewer-popup-html .slab {
  background-color: white;
}

#toolbar-administration ul {
  margin: 0;
}

.content-meta .field {
  display: inline;
}

.contextual-links[hidden] {
  display: none !important;
}

/* clean up space between prefix and first slab */
.region-content-prefix + .slab {
  padding-top: 0;
}
.node--type-news .node__content .slab:first-child {
  padding-top: 0;
}