.node__content {
  overflow: hidden;
}

.editorial {
  overflow-y: hidden;
}

html.paragraphs-previewer-popup-html .slab {
  background-color: white;
}

#toolbar-administration ul {
  margin: 0;
}

.content-meta .field {
  display: inline;
}

.contextual-links[hidden] {
  display: none !important;
}

/* override the styleguide for image width */
@media screen and (min-width: 58rem) {
  .people-list img {
    max-width: 100%;
  }
}