{% set icon_svg = eck.field_icon_ref|length? eck.field_icon_ref.entity.field_svg.value : false %}
<div {{ attributes.addClass('accordion-group') }}>
    <a href="#" class="accordion-header">
        <h2>
            <div class="action-icons">
                <span class="icon-plus">{% include '@atoms/icon.html.twig' with { icon_svg: false, icon: 'plus', icon_alt: 'Toggle Pane' }%}</span>
                <span class="icon-minus">{% include '@atoms/icon.html.twig' with { icon_svg: false, icon: 'minus', icon_alt: 'Toggle Pane' }%}</span>
            </div>
            {{ plain_title }}
        </h2>
        {% if icon_svg %}
        <div class="descriptive-icon">
            {% include '@atoms/icon.html.twig' with { icon_svg: icon_svg }%}
        </div>
        {% endif %}
    </a>
    <div class="accordion-content">
        {{ content|without('title', 'field_icon_ref') }}
    </div>
</div>
