{% set media_type = node.field_news_type_ref[0].entity.name.value %}
{% import '@macros/svg.macro.twig' as svg %}
{% set media = term_lookup(media_type) %}
{% set icon = media.field_icon_ref.entity.name.value %}
{% set icon_svg = media.field_icon_ref.entity.field_svg.value %}
<div>
    <div class="shield-icon">
        {% if icon_svg %}
            {{ icon_svg|raw }}
        {% else %}
            {{ svg.ref(icon, icon, icon) }}
        {% endif %}
    </div>

    {% include '@molecules/news-teaser.html.twig' with { 
        image_url: node.field_image[0].entity.uri.value|resize('hero'),
        image_alt: node.field_image[0].alt,
        show_meta: false,
        type_on_thumbnail: false,
        media_type: media_type,
        url: path('entity.node.canonical', {'node': node.id})|drupal_escape,
        title: node.title.value,
        summary: node.body.summary,
        date: node.created.value|date('M j Y'),
        button_link: '/news',
    } %}
</div>