{% set more_in_series = content.more_in_series_entity_view_1|render %}
{% set you_may_also_like = content.you_may_also_like_entity_view_1|render %}
{% if more_in_series|has_rows('news-teaser') %}
<div class="news-collection narrow">
    {% include '@molecules/headline-group.html.twig' with {
		superhead: 'More from this series',
		headline: series_name,
        level: 3,
  } %}
  <div class="stories-wrapper">
    {{ more_in_series }}
  </div>
  {% include '@molecules/button-group.html.twig' with {
	buttons: [
        {
            title: 'More',
            url: '/news-archive?series=' ~ series_tid,
        }
    ]
  } %}
</div>
{% else %}
    {% if you_may_also_like|has_rows('news-teaser') %}
        <div class="news-collection narrow">
            {% include '@molecules/headline-group.html.twig' with {
                    headline: 'You may also like...',
                    level: 3,
            } %}
            <div class="stories-wrapper">
                {{ you_may_also_like }}
            </div>
            {#{% include '@molecules/button-group.html.twig' with {
                buttons: [
                    {
                        title: 'More Stories',
                        url: '/news-archive?series=' ~ series_tid,
                    }
                ]
            } %}#}
</div>
    {% endif %}
{% endif %}
