<div{{ attributes }}>
    {% include '@molecules/news-teaser.html.twig' with { 
        image_url: node.field_image? node.field_image.entity.uri.value|resize('mini_teaser') : false,
        image_alt: node.field_image.alt.value,
        show_meta: true,
        media_type: node.field_news_type_ref[0].entity.name.value,
        url: path('entity.node.canonical', {'node': node.id})|drupal_escape,
        title: node.title.value,
        summary: false,
        date: node.created.value|date('M j Y'),
    } %}
</div>