<div{{ attributes }}>
    {% include "@atoms/heading.html.twig" with {
        semantic: false,
        level: 4,
        headline: plain_title,
        url: url,
        linked: true,
        style_modifier: 'story-title',
    } %}

    {% set units = [] %}
    {% for unit in node.field_unit_ref %}
        {% if unit.entity.field_include_in_news_filter.value %}
            {% set units = units|merge([unit.entity.name.value]) %}
        {% endif %}
    {% endfor %}

    <div class="units">
        <strong>{{ units|sort|join(', ') }}</strong>
    </div>
    {{ content|without('links', 'field_unit_ref') }}
</div>