{% set n = items|length %}
{% if n >= 3 %}
    {% set classes = "col-lg-4" %}
{% elseif n == 2 %}
    {% set classes = "col-lg-6" %}
{% endif %}
<div class="row">
    {% for item in items %}
        <div class="col-sm-12 {{ classes }}">{{ item.content }}</div>
    {% endfor %}
</div>