<div{{ attributes }}>
{% for item in items %}
    {% include '@molecules/headline-group.html.twig' with {
            headline: item.content,
            style_modifier: 'section-title'
    } %}
{% endfor %}
</div>