{% import '@macros/svg.macro.twig' as svg %}
{{ attach_library('ukd8/addtoany') }}

<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a href="#" class="a2a_dd share-link {{ share_link_modifier }}">
		{{ share_link_text|default('Share this story') }}
		<div class="icon-wrapper">
			{{ svg.ref('share','share','share') }}
		</div>
	</a>
</div>