<div class="carousel-block">
    <div class="carousel-block__intro">
        {{ headline }}
        {{ body }}
    </div>
    {% include 'molecules-carousel' with { level: 3, linked: true, carousel_variant : carousel_variant, carousel_layout: carousel_layout } %} 
</div>