{% set hide_heading = true %}
{% embed 'molecules-slab' with { slab_variant: 'global-footer' } %}
    {% block slab_content %}  
        {# this is designed for three columns of content #}
        <div class="global-footer__column">
            {% block footer_left %}
                {{ page.footer_left }}
            {% endblock %}
        </div>
        <div class="global-footer__column">
            {% block footer_mid %}
                {{ page.footer_middle }}
            {% endblock %}
        </div>
        <div class="global-footer__column">
            {% block footer_right %}
                {{ page.footer_right }}
            {% endblock %}
        </div>
    {% endblock %}
{% endembed %}