{% set searchid = "search-keywords"|uniqid %}
<form class="search" method="get" action="https://search.uky.edu/">
 <input type="hidden" value="013669986465570760159:g1z1pzr-kjq" name="cx">
 <input type="hidden" value="UTF-8" name="ie">
  <label for="{{ searchid }}">Search our Site</label>
  <div class="control-group">
    <input type="text" name="q" id="{{ searchid }}" />
    <button class="icon-only">
      {% include 'atoms-icon-label' with { icon: 'magnify', label: 'search' } %}
    </button>
  </div>
</form>
