<div class="zipper-block">
    <div class="zipper-block__intro">
        {{ headline }}
        {{ body }}
    </div>
    {% include 'molecules-zipper' with { level: 3, linked: true, carousel_variant : carousel_variant, carousel_layout: carousel_layout } %} 
</div>