{% include 'molecules-skip-nav' %}
{% include 'components-universal-header' %}
{% include 'components-global-header' %}
<main class="main">
	{% block main_content %}
    {{ page.content }}
	{% endblock %}
</main>
{% include 'components-global-footer' %}
{% include 'components-universal-footer' %}
