{% import '@macros/svg.macro.twig' as svg %}
{% set has_hero = page.content_prefix|render|striptags|trim %}
{% set header_classes = [
	'main-header',
	is_landing_page? 'unit-header',
	not has_hero? 'no-hero',
	is_center_page? 'center-header',
] %}
<header class="{{ header_classes|join(' ') }}">
	<div class="main-header-wrapper">

		{% if is_center_page %}
			<div class="region-header-logo">
				<div>
					<a href="{{ unit_home }}" title="Center Home" rel="home">
						{{ center_logo }}
					</a>
				</div>
			</div>
		{% else %}
			{% include '@atoms/logo.html.twig' %}
		{% endif %}

		<div class="mobile__toggle">
			<button class="visibility-toggle">
				{{ svg.ref('navigation-drawer-2','Open Navigation','hamburger') }}
				<span class="sr-only">Open Navigation</span>
			</button>
		</div>

		<div class="navigation">
			<div class="top-bar-wrapper">
				{% if is_landing_page %}
					{% include '@molecules/unit-header.html.twig' with {
						headline: unit_name, 
					} %}
				{% elseif is_center_page %}
					{% include '@atoms/tagline.html.twig' %}
				{% else %}
					{% include '@molecules/top-nav.html.twig' %}
				{% endif %}
				{% include '@molecules/utility-nav.html.twig' %}
			</div>

			{% include '@molecules/unit-nav.html.twig' with {
				home_url: unit_url,
			}%}
		</div>
	</div>
</header>