{% if 'narrow' in news_collection_modifier %}
	{% set thumbnail_type = 'headshot' %}
	{% set collection_headline_level = '3' %}
{% endif %}

{% set is_feature_grid = ('feature-grid' in news_collection_modifier) %}

{% if collection_summary is not null %}
	{% set news_collection_modifier = news_collection_modifier ~ ' has-collection-summary' %}
{% endif %}

<div class="news-collection {{ news_collection_modifier }}">

	{% if collection_headline %}
		{% include '@molecules/headline-group.html.twig' with {
			section_title_override: section_title_override,
			superhead: collection_superhead,
			headline: collection_headline,
			subhead: collection_subhead,
			style_modifier: collection_headline_modifier,
			level: collection_headline_level
		} %}
	{% endif %}

	{% if feature_story %}
		{% for story in feature_story %}
		<div class="feature-block feature-story">
			{% include '@molecules/news-teaser.html.twig' with { 
                url: story.url,
				image_url: story.image_url,
                image_alt: story.image_alt,
                title: story.title,
				summary: story.summary,
				show_meta: story.show_story_meta,
				media_type: story.story_media_type,
                date: story.date,
			} %}
		</div>
		{% endfor %}
	{% endif %}


	{% if collection_summary %}
		<div class="collection-summary">
			{% if collection_summary.headline %}
				{% include '@atoms/heading.html.twig' with {
					level: 4,
					headline: collection_summary.headline,
					style_modifier: 'collection-summary-headline'
				} %}
			{% endif %}

			{{ collection_summary.summary }}

			{% if collection_summary.link.url %}
				{% include '@atoms/button.html.twig' with {
					label: collection_summary.link.title,
                    url: collection_summary.link.url,
				} %}
			{% endif %}
		</div>
	{% endif %}


	{% if is_feature_grid or is_feature_list %}
		<div class="feature-wrapper">
	{% endif %}

	{% if secondary_headline %}
		{% include '@molecules/headline-group.html.twig' with {
			superhead: secondary_superhead,
			headline: secondary_headline,
			subhead: secondary_subhead,
			style_modifier: 'secondary-headline'
		} %}
	{% endif %}

    <div class="stories-wrapper">
        {{ stories }}
    </div>

	{% if buttons %}
		{% include '@molecules/button-group.html.twig' with {
			buttons: buttons
		} %}
	{% endif %}


	{% if is_feature_grid %}
		</div>
	{% endif %}
	

</div>