<div class="stats-list">
	{% include '@molecules/headline-group.html.twig' with {
		headline: title,
		style_modifier: 'section-title rainbow3'
	} %}

	<div class="blocks">
        {{ blocks }}
	</div>

	{% if buttons %}
		{% include '@molecules/button-group.html.twig' with {
			buttons: buttons
		} %}
	{% endif %}
</div>