{% set uniqid = "MainNavLabel" %}
<nav id="MainNav" class="global-nav" aria-labeledby="{{ uniqid }}">
    <div class="show-for-sr" id="{{ uniqid }}">Main Navigation</div>
    <a href="{{ path('<front>') }}" class="ic ic--home"><span class="show-for-sr">Return to Home Page</span></a>
    {{ page.top_nav }}
</nav>