{% embed 'molecules-slab' with { slab_variant: slab_variant } %}
    {% block slab_outer %}
        {{ head }}
        <div class="grid {{ grid_type }} {{ grid_style }}">          
            {% for col in grid_columns %}
            <div class="grid__column">
                {{ col }}
            </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}