{% if node.field_credits|length %}
<div class="news-story-credits">
	{% include '@atoms/heading.html.twig' with {
		headline: 'Credits',
		level: 4
		} %}

	<div class="credits-list">
		{{ content.field_credits }}
	</div>
</div>
{% endif %}