{% if unit_quicklinks|length %}
    <div class="announcements narrow">
        {% include '@molecules/headline-group.html.twig' with {
            headline: 'Quick links',
        } %}
        <div>
            <div class="rich-list">
                <ul>
                {% for link in unit_quicklinks %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}