{% import '@macros/svg.macro.twig' as svg %}

<div class="search-bar">
	<div class="search-bar__form">
		<form action="http://diogenes.uky.edu/search" method="get">
			<input type="hidden" name="site" value="uk">
			<input type="hidden" name="output" value="xml_no_dtd">
			<input type="hidden" name="client" value="uk">
			<input type="hidden" name="proxystylesheet" value="uk">
			<input type="hidden" name="as_dt" value="i">
			{# <select id="as_sitesearch" name="as_sitesearch" style="display: block; float: left; width: 196px;">
				<option value="www.research.uky.edu">All of Research</option>
				<option value="www.research.uky.edu/ospa">Office of Sponsored Projects Admin. (OSPA)</option>
				<option value="www.research.uky.edu/ori">Office of Research Integrity (ORI)</option>
				<option value="www.research.uky.edu/otc">Office of Technology Commercialization (OTC)</option>
				<option value="www.research.uky.edu/pdo">Proposal Development Office (PDO)</option>
				<option value="www.research.uky.edu/is">Information Services</option>
			</select> #}
			{# <input type="hidden" name="as_sitesearch" value="www.research.uky.edu"> #}
			<div class="input-group">
				<label><span class="sr-only">Search Keywords</span>
				<input name="q" class="input-group-field" type="text" placeholder="Search UK"></label>
				<div class="input-group-button">
					<button class="submit-button" type="submit">
						{{ svg.ref('search','Submit Search','search') }}
						<span class="sr-only">Search</span>
					</button>
				</div>
			</div>
		</form>
		<button class="visibility-toggle">
			{{ svg.ref('close','Cancel Search','close-search') }}
			<span class="sr-only">Cancel Search</span>
		</button>
	</div>
	<div class="search-bar__toggle">
		<button class="visibility-toggle">
			{# {% include 'atoms-svgref' with {title: 'Search', iconset: 'action', svgid: 'ic_search_24px'} %} #}
			{{ svg.ref('search','Begin Search','search') }}
			<span class="sr-only">Begin Search</span>
		</button>
	</div>
</div>