{% if icon_svg %}
	{% set stats_block_modifier = stats_block_modifier ~ ' shield' %}
{% endif %}

<div class="stats-block {{ stats_block_modifier }}">

	{% if icon_svg %}
		<div class="shield-icon">{{ icon_svg|raw }}</div>
	{% endif %}

	{% include '@molecules/headline-group.html.twig' with {
		subhead: number_subhead,
		headline: number,
		style_modifier: ''
	} %}
    {% if stat_text %}
	<div class="stat-text">
	    {{ stat_text }}
	</div>
    {% endif %}
</div>