<div class="sticky-wrapper">
    <div class="sticky-nav smoothscroll">
        <nav>
            <ul>
                {% for anchor, title in links %}
                <li><a href="{{ anchor }}">{{ title }}</a></li>
                {% endfor %}
                <li class="back-to-top"><a href="#top">Back to Top</a></li>
            </ul>
        </nav>
    </div>
</div>