<div class="{{ tabs_variant }} js-tabs">    
    <ul class="js-tablist">
        {% block tabs_tabs %}
            {% for i in 1..3 %}
                {% include 'molecules-tab-tab' with { tab_target : "tab_" ~ i, tab_label : "Tab " ~ i } %}
            {% endfor %}
        {% endblock %}
    </ul>
    {% block tabs_panels %}
        {% for i in 1..3 %}
            {% include 'molecules-tab-panel' with { tab_panel_id : "tab_" ~ i } %}
        {% endfor %}
    {% endblock %}
    <a class="back-to-top ic ic--angle-up" href="#MobileNav"><span class="show-for-sr">Back to Tabs</span></a>
</div>
