{% set uniqid = "UtilityNavLabel" %}
<nav id="UtilityNav" class="utility-nav" aria-labeledby="{{ uniqid }}">
    <div class="show-for-sr" id="{{ uniqid }}">Utility Navigation</div>    
    {{ page.utility_nav }}
</nav>